.temp-post.clearfix
  .temp-post__user-name
    = message.user.name
  .temp-post__date
    / japan_timeはモデルのメソッド
    = message.japan_time(message.created_at)
  .temp-post__message
    = message.body
  .temp-post__image
    = image_tag(message.image)