.temp-post.clearfix{ "data-message-id": message.id }
  .temp-post__user-name
    = message.user.name
  .temp-post__date
    = (message.created_at + 9.hours).to_s(:datetime)
  .temp-post__message
    = message.body
  .temp-post__image
    = image_tag(message.image)