$colorWhite:       #FFFFFF;
$colorSkyBlue:     #38AEF0;
$colorvDarkGray:   #333333;
$colorDarkGray:    #999999;
$colorGray:        #AAAAAA;
$colorLightGray:   #DDDDDD;
$colorvLightGray:  #EEEEEE;
$colorGrayishBlue: #434A54;
$colorvDarkBlue:   #253141;
$colorDarkBlue:    #2f3e51;
