.contents.clearfix
  .side-bar
    .user-info.clearfix
      .user-info__name
        = current_user.name
      .user-info__icon
        = link_to fa_icon("edit"), new_group_path, class: "btn--white"
        = link_to fa_icon("cog"), edit_user_path(current_user), class: "btn--white"
    .group-info
      - if current_user.groups.count >= 1
        - current_user.groups.each do |group|
          = render partial: "groups/temp-group", locals: { group: group }
      - else
        .temp-group
          .temp-group__name
            グループに所属していません。
