.group-info {
  clear: both;
  background-color: $colorDarkBlue;
  height: calc(100vh - 130px);
  overflow: scroll;
  .temp-group {
    padding: 20px;
    &__name {
      font-size: 15px;
      color: $colorWhite;
    }
    &__last-message {
      padding-top: 5px;
      font-size: 11px;
      color: $colorWhite;
    }
  }
}