.chat-input {
  height: 50px;
  padding: 20px 40px;
  background-color: $colorLightgray;
  .box {
    height: 50px;
    background-color: $colorWhite;
    position: relative;
    width: 90%;
    float: left;
    &__text {
      border: none;
      padding-left: 10px;
      width: 95%;
      height: 50px;
    }
    .label-box {
      position: absolute;
      height: 50px;
      line-height: 50px;
      top: 0;
      right: 10px;
      &__file {
        display: none;
      }
    }
  }
  .send-btn {
    float: left;
    margin-left: 15px;
    width: calc(10% - 15px);
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $colorSkyblue;
  }
}