.chat-input {
  height: 50px;
  padding: 20px 40px;
  background-color: #dddddd;
  .box {
    height: 50px;
    background-color: $colorWhite;
    position: relative;
    width: 90%;
    float: left;
    &__text {
      border: none;
      padding-left: 10px;
      width: 95%;
      height: 50px;
    }
  }
}