.chat-group {
  height: 100px;
  padding: 0 40px;
  background-color: $colorWhite;
  .selected-group {
    float: left;
    padding-top: 35px;
    &__name {
      font-size: 20px;
      color: $colorvDarkgray;
    }
    &__member {
      padding-top: 15px;
      font-size: 12px;
      color: $colorDarkgray;
    }
  }
  .edit-btn {
    float: right;
    color: $colorSkyblue;
    margin-top: 28px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: solid 1px $colorSkyblue;
  }
}
