$colorWhite: #FFFFFF;
$colorSkyblue: #38AEF0;
$colorvDarkgray: #333333;
$colorDarkgray: #999999;
$colorLightgray: #DDDDDD;
$colorvLightgray: #EEEEEE;
$colorGrayishBlue: #434A54;
$colorvDarkblue: #253141;
$colorDarkblue: #2f3e51;
